extends ../layout

block content
  .card.shadow
    .card-body
      h2.card-title Lista de Admisiones
      a.btn.btn-primary.mb-3(href="/admisiones/nuevo") + Nueva Admisión

      table.table.table-striped
        thead.table-primary
          tr
            th Paciente
            th Tipo Ingreso
            th Fecha
        tbody
          each adm in admisiones
            tr
              td #{adm.nombre} #{adm.apellido}
              td #{adm.tipo_ingreso}
              td #{adm.fecha_admision}
