extends ../layout

block content
  .card.shadow
    .card-body
      h2.card-title Camas Libres

      table.table.table-striped
        thead.table-primary
          tr
            th Número de cama
            th Número de habitación
            th Ala
        tbody
          each cama in camas
            tr
              td #{cama.numero}
              td #{cama.habitacion}
              td #{cama.ala}
