extends ../layout

block content
  h2.mb-3 Camas Libres

  table.table.table-hover
    thead
      tr
        th Habitación
        th Cama
        th Ala
    tbody
      each cama in camas
        tr
          td= cama.habitacion
          td= cama.numero
          td= cama.ala
