extends ../layout

block content
  .card.shadow
    .card-body
      h2.card-title Lista de Pacientes
      a.btn.btn-primary.mb-3(href="/pacientes/nuevo") + Nuevo Paciente

      table.table.table-hover.table-bordered
        thead.table-primary
          tr
            th Nombre
            th Apellido
        tbody
          each paciente in pacientes
            tr
              td= paciente.nombre
              td= paciente.apellido
