extends ../layout

block content
  .card.shadow
    .card-body
      h2.card-title Nuevo Paciente
      form(action="/pacientes/crear" method="POST")
        .row.mb-3
          .col-md-6
            label.form-label Nombre
            input.form-control(type="text", name="nombre")
          .col-md-6
            label.form-label Apellido
            input.form-control(type="text", name="apellido")
        .row.mb-3
          .col-md-4
            label.form-label DNI
            input.form-control(type="text", name="dni")
          .col-md-4
            label.form-label Fecha de Nacimiento
            input.form-control(type="date", name="fecha_nacimiento")
          .col-md-4
            label.form-label Sexo
            select.form-select(name="sexo")
              option(value="M") Masculino
              option(value="F") Femenino
              option(value="Otro") Otro
        .mb-3
          label.form-label Dirección
          input.form-control(type="text", name="direccion")
        .row.mb-3
          .col-md-6
            label.form-label Teléfono
            input.form-control(type="text", name="telefono")
          .col-md-6
            label.form-label Contacto Emergencia
            input.form-control(type="text", name="contacto_emergencia")
        .mb-3
          label.form-label Teléfono Emergencia
          input.form-control(type="text", name="telefono_emergencia")
        button.btn.btn-success(type="submit") Guardar
